.menu {
    right: 10em;
    position: absolute;
    top: 25px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.menu a {
    text-decoration: none;
}

.social {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.menu-item {
    color: #000;
    background-color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    margin-right: -7rem;
}

.social:hover {
    transform: scale(1.10);
}

.menu-item:hover {
    transform: scale(1.10);
}

@media (max-width: 715px) {
    .menu {

        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}